.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.peeping-rock {
  max-height: 10vw;
  object-fit: cover;
  object-position: 100% 0;
  width: 300px;
  height: 12vw;
}

.profile-image {
  height: 21vw;
  width: 100%;
  object-position: 100% 0;
  object-fit: cover;
  width: "100%";
  display: "block";
}

.Home-header {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: darkgray;
}

.App-link {
  color: #61dafb;
}
